<ion-view view-title="评价详情" id="view">
    <ion-content class="content">
        <ion-list class="list">
            <!--<ion-item class="item item-avatar" >
                <img src="images/pho.png" style="margin-left:10px;">
                <h2 style="margin-left:50px;">用户昵称</h2>
                <p style="margin-left:50px;">测试员001</p>
            </ion-item>-->
            <ion-item class="item item-avatar" >
                <img src="images/pho.png">
                <h2>用户昵称</h2>
                <p>测试员001</p>
            </ion-item>
                <ion-item>
                    <div class="row">
                        <h2 style="margin-left:5px;">会员</h2>
                        <h2 style="font-size: 16px;margin-left:65px;" class="text-center">131633535201</h2>
                    </div>
                </ion-item>
                <ion-item>
                    <div class="row">
                        <h2 style="margin-left:5px;">时间</h2>
                        <h2 style="font-size: 16px;margin-left:65px;" class="text-center">2017-03-12<span style="margin-left:15px;">12:12:12</span></h2>
                    </div>
                </ion-item>
            <div class="card">
                <div class="item item-divider">
                    评价001
                </div>
                <div class="item item-text-wrap" style="color: #999;line-height:24px;font-size: 14px;">
                    评价内容
                    评价内容
                    评价内容
                    评价内容
                    评价内容
                    评价内容
                    评价内容
                    评价内容
                    评价内容
                </div>
            </div>
            <ion-item>
                <div class="col text-left" >回复</div>
                <!--<div class="row">

                    <div class="col text-right">
                        <a href="">已回复</a>
                        <span>/</span>
                        <a href="">已屏蔽</a>
                        <span>/</span>
                        <a href="">已置顶</a>
                    </div>-->
                <label class="item item-input">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </label>
                <!--<div class="row">
                    <div class="col text-right">
                        <a href="">回复</a>
                        <span>/</span>
                        <a href="">屏蔽</a>
                        <span>/</span>
                        <a href="">置顶</a>
                    </div>
                </div>-->
            </ion-item>
            <ion-item class="item-borderless full">
                <button class="button button-full button-calm">回复</button>
<!--
                <button class="button button-full button-royal">回复</button>
-->

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>