<ion-view view-title="我的帐目" style="background: #f2f2f2;">
    <ion-content>
      <ion-refresher pulling-text="下拉刷新" on-refresh="get_shoukuan()"></ion-refresher>
       
         <div class="list">
             
              <li class="item" ng-repeat="list in shoukuan">
                <span style="float: left;">{{list.balance}}</span>
                <span style="float: right; font-size: 12px;">{{list.createtime}}</span>
                <div class="clear"></div>
                <p>{{list.balance_msg}}</p>
              </li>
         </div>
         
        <div ng-if="xiala">
          <div style="text-align:center; margin-top:5px;color: #999;"><span>{{tishi}}</span></div>
          <ion-infinite-scroll ng-if="!noMorePage" immediate-check="false" on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>
        </div>  
       
        
    </ion-content>
</ion-view>