<ion-view view-title="数据汇总">
   
    <ion-content>
     <highchart  config="chartPieConfig" style="height:300px; margin-top:20px;border-bottom:1px solid #ddd;"></highchart> 
     <highchart  config="chartPieConfig1" style="height:300px;margin-top:20px;border-bottom:1px solid #ddd;"></highchart> 
     <highchart  config="chartPieConfig2" style="height:300px;margin-top:20px;border-bottom:1px solid #ddd;"></highchart> 
     <highchart  config="chartPieConfig3" style="height:300px;margin-top:20px;"></highchart> 
  </ion-content>
</ion-view>