<ion-view view-title="销优惠券" id="view">
    <ion-content class="content">
        <h4 style="margin-left:16px;margin-top:20px;color:#444;">会员手机</h4>

        <ion-item class="item-borderless top-2">
            <lable class="list item item-input import">
                <input type="tel" placeholder="请输入手机号" ng-model="input.mobile">
            </lable>
        </ion-item>

        <ion-item class="item-borderless full">
            <button class="button button-block button-calm" style="margin-top:10px;" id="btn" ng-click="search_user()">查询</button>
<!--
            <button class="button button-full button-royal" id="btn" ng-click="search_user()">查询</button>
-->
        </ion-item>
        <div class="list" ng-show='search_q.show'>
            <h4 class="text-center" style="color: #666;">手机号<span style="color:red;">{{input.mobile}}</span>没有优惠券</h4>
        </div>
        <div class="list" ng-show='search_w.show'>

            <div class="item item-button-right" ng-repeat="list in input.data">
                <button class="button button-calm button-large" style="margin-top:0px;"  ng-disabled="list.allow" ui-sref="gift_list({yuid:list.yuid})">{{list.keyong}}</button>
                <h2>{{list.coupon_name}}</h2>
                <p style="font-size: 12px;margin-top:15px;">{{list.coupon_type}}<span style="margin-left:15px;">{{list.coupon_content}}</span></p>
            </div>



        </div>
    </ion-content>
</ion-view>