<ion-view view-title="销优惠券列表" id="view">
    <ion-content class="content">
        <ion-list class="list">
            <div class="row">
                <div class="col col-50 col-offset-25 tab-item">
                    <img ng-src="{{input.headimgurl}}" alt="" class="tabs-icon-top" style="width:100px;height:100px;border-radius: 50%;">
                    <h3>{{input.nickname}}</h3>
                </div>
            </div>
        </ion-list>
                <div class="list" style="margin-left:20px;">
                    <div class="row">
                        <h4 style="color: #666;">会员号</h4>
                        <h4 style="font-size: 16px;margin-left:30px;color: #666;" class="text-center">{{input.account}}</h4>
                    </div>
                    <div class="row">
                        <h4 style="color: #666;">优惠券</h4>
                        <h4 style="font-size: 16px;margin-left:30px;color: #666;" class="text-center">{{input.coupon_name}}</h4>
                    </div>
                    <div class="row">
                        <h4 style="color: #666;">券编号</h4>
                        <h4 style="font-size: 16px;margin-left:30px;color: #666;" class="text-center">{{input.coupon_code}}</h4>
                    </div>
                    <div class="row">
                        <h4 style="color: #666;">券类型</h4>
                        <h4 style="font-size: 16px;margin-left:30px;color: #666;" class="text-center">{{input.coupon_type}}</h4>
                    </div>
                    <div class="card" style="margin-left: -10px;">
                        <div class="item item-divider">
                            优惠内容
                        </div>
                        <div class="item item-text-wrap" style="color: #666;line-height:24px;font-size: 14px;">
                            {{input.coupon_content}}
                        </div>
                    </div>
                    <div class="row">
                        <h4 style="color: #666;">消费金额</h4>
                        <input type="tel" placeholder="请输入消费金额" style="font-size: 14px;padding:0 10px;border: 1px solid #ccc;
                        border-radius: 5px;width:40%;margin:5px 25px;resize:none;outline:0;-webkit-appearance:none;white-space:pre-wrap;word-wrap:break-word;background:#fff;" ng-model="input.xiaofei">
                        <h4 style="color: #666;">元</h4>
                    </div>
                    <div class="row">
                        <h4 style="color: #666;">新增积分</h4>
                        <input type="tel" placeholder="请输入新增积分" style="font-size: 14px;padding:0 10px;border: 1px solid #ccc;
                        border-radius: 5px;width:40%;margin:5px  25px;resize:none;outline:0;-webkit-appearance:none;white-space:pre-wrap;word-wrap:break-word;background:#fff;" ng-model="input.score_num">

                    </div>
                </div>
        <ion-item class="item-borderless full">
            <button class="button button-calm button-block" id="btn" ng-click="coupon_xiao()">销券</button>
<!--
            <button class="button button-royal button-full" id="btn" ng-click="coupon_xiao()">销券</button>
-->

        </ion-item>
    </ion-content>
</ion-view>