<ion-view view-title="会员列表" id="view"  style="background: #f2f2f2;">
    <ion-content class="content">
      <div class="search_box">
         <span class="search_input" ng-click="modal.show()">
           <div class="search_tubiao">
              <div class="search_logo">
                 <img src="images/search.png" width="20" height="20">
               </div>
               <div class="search_text">搜索</div>
           </div>
         </span>
      </div>
      <div class="list">
        <ul>
			<li class="huiyuan_list"  ng-repeat="useritem in userlist" style="margin-bottom:2px; ">
			<!-- ////  -->
				<div >
			
					
					<div class="aaa">
						<div class="bbb1" ui-sref="member_detail({'userid':useritem.userid})"> 
							<div class="user_img">       
							  <img class="img_head_css" ng-src="{{useritem.headimgurl}}">
							</div>
						</div>
						<div class="bbb2">
							<div class=" mar_bo5">{{useritem.nickname}}</div>
							<div class="user_lv mar_bo5" style="font-size: 11px;color:#fff;">{{useritem.user_level}}</div>
							<div>
								<p class="neirong" style="flaot:left;">
								    <i class="Hui-iconfont Hui-iconfont-phone" style="color:#6f4ee4;"></i>{{useritem.mobile}} 
									</p>
							  <p class="neirong">
							      <i class="Hui-iconfont Hui-iconfont-userid" style="color:#a773bf;"></i>
								  
							  {{useritem.user_card_no}}</p>
							</div>
							
						</div>
						<div class="bbb3">
						
								<div class="right_btn" ng-click="call_phone(useritem.mobile)" style="font-size: 13px; background-color: #fff; color: #269ad7;border: solid 1px #269ad7;">拨打电话</div>
								<div class="right_btn" ui-sref="mobile_add({'title_name':'发送短信','mobile':useritem.mobile})" style="font-size: 13px; background-color: #fff; color: #269ad7;border: solid 1px #269ad7;">发送短信</div>
								
							
						</div>
					</div>
				</div>
				
				<div class="btn_add">
					
								
					<ul>
					 <div class="right_btn" ui-sref="recharge({'userid':useritem.userid})" style="font-size: 13px;width: 45%;float: left;margin-left: 3%;">现金充值</div>
					  <div class="right_btn" ui-sref="cash_register({'userid':useritem.userid})" style="font-size: 13px;width: 45%;float: right;margin-right: 3%;">消费收银</div>
					  
					</ul>
				</div>
				
				
				<div class="btn_add">
					<ul>
					 <li  ui-sref="money_mingxi({'userid':useritem.userid,'money_type':'score'})" style="font-size: 13px;"> 积分 &nbsp;&nbsp;{{useritem.total_score}}</li>
					  <li style="border-left: 1px solid #e6e6e6;" ui-sref="money_mingxi({'userid':useritem.userid,'money_type':'balance'})" style="font-size: 13px;">
					  现金&nbsp;&nbsp;{{useritem.balance_yuan}}
					  </li>
					   <li style="border-left: 1px solid #e6e6e6;" ui-sref="money_mingxi({'userid':useritem.userid,'money_type':'balance_zengsong'})" style="font-size: 13px;">
					  赠款&nbsp;&nbsp;{{useritem.balance_zengsong}}
					  </li>
					  
					</ul>
				</div>
			  
			</li>
        </ul>
       <!--   <div ng-click="get_phone_book()">获取通讯录</div>	 -->
      </div>

        <div style="text-align:center; margin-top:5px;color: #999;"><span>{{tishi}}</span></div>
        <div style="width: 100%;height:10px;"></div>
        <ion-infinite-scroll ng-if="!noMorePage" immediate-check="false" on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar align-title="left" class="">

        <div class="buttons" style="margin: 0 auto;">
          <button ng-click="show()" class="button button-outline  button-calm" id="btn" style="min-width:200px; ">添加会员</button>
        </div>
    </ion-footer-bar>

     <script id="templates/modal.html" type="text/ng-template" >
      <ion-modal-view style="background: rgba(0,0,0,.5);">
        <ion-header-bar  class="bar bar-header item-input-inset bar-calm">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="tel" ng-model="input.mobile" placeholder="请输入手机号" >
          </label>
         <button class="button button-clear" ng-click="find_member()">搜索</button>
         <!--  <button class="button button-clear button-primary" ng-click="modal.hide()">取消</button> -->
        </ion-header-bar>

        <ion-content class="padding"  ng-click="modal.hide()">

        </ion-content>
      </ion-modal-view>
    </script>
</ion-view>
  