<ion-view view-title="商户头条" id="view">
    <ion-content>
     <div class="list card" ng-repeat="list in items">
       <div class="item item-body" style="border-bottom-left-radius:0; border-bottom-right-radius:0;">
          <h2 style="text-align:left;white-space: normal; font-size: 18px; font-weight: bold; margin: 0px 0;">{{list.title}}</h2>
     
            <!-- <div class="row" style="margin-left:-6px;padding: 6px 0 0 0;">
             <div class="col col-25" style="margin: 0;padding: 0;" ng-click="showPopup(list.id)">【查看】</div>
             <div class="col col-25" style="margin: 0;padding: 0;" ui-sref="toutiao_detail({'id':list.id,'action':'get'})">【编辑】</div>
             <div class="col col-25" style="margin: 0;padding: 0;" ng-click="toutiao_delete(list.id)">【删除】</div>
            <div class="col col-25" style="margin: 0;padding: 0;"  ng-click="toggle()">【分享】</div> 
          </div>-->
          <p style="margin: 5px 0; padding: 0;">{{list.uptatetime}}&nbsp;&nbsp;&nbsp;阅读 {{list.click}}</p>
          <div style="max-width:100%;overflow: hidden;text-align:center;">
          	<img style="max-width:100%;display: block;margin:0 auto;" src="{{list.pic}}">
          </div>
           <p style="white-space: normal;">{{list.text}}</p>
        </div>
          <div class="toutiao_btn">
            <ul>
             <li class="dark"  ng-click="showPopup(list.id)"><i class="icon ion-ios-search-strong"></i> 查看</li>
             <li class="dark"  ui-sref="toutiao_detail({'id':list.id,'action':'get'})"><i class="icon ion-ios-compose-outline"></i> 编辑</li>
             <li class="dark" ng-click="toutiao_delete(list.id)"><i class="icon ion-ios-trash-outline"></i> 删除</li>
            </ul>
          </div>
       
<!-- 
   <div class="row fenxiangshow" ng-show="visible">
          <div ng-click="sharePhoto_to_qq('qq')" class="col col-20" style="margin-top: 5px;">
           <img src="images/qqhyfx.png" style="width: 40px; height: 40px; display: block; margin: 0 auto;">
          </div>

          <div ng-click="sharePhoto_to_qq('qq_zone')" class="col col-20" style="margin-top: 5px;">
           <img src="images/qqkjfx.png" style="width: 40px; height: 40px; display: block; margin: 0 auto;">
          </div>

          <div ng-click="sharePhoto_to_wechat('friend')" class="col col-20" style="margin-top: 5px;"> 
           <img src="images/wxhyfx.png" style="width: 40px; height: 40px; display: block; margin: 0 auto;">
          </div>
          <div ng-click="sharePhoto_to_wechat('timeline')" class="col col-20" style="margin-top: 5px;">
           <img src="images/wxpyqfx.png" style="width: 40px; height: 40px; display: block; margin: 0 auto;">
          </div>
          <div ng-click="sharePhoto_to_wechat('timeline')" class="col col-20" style="margin-top: 5px;"> 
           <img src="images/wbfx.png" style="width: 40px; height: 40px; display: block; margin: 0 auto;">
          </div>
      </div>  --> 

       </div>
     

     <div ng-if="xiala">
     <div style="text-align:center; margin-top:10px;"><span>{{tishi}}</span></div>
        <ion-infinite-scroll ng-if="!noMorePage" immediate-check="false" on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>
      </div>
      <div style="width: 100%;height: 40px;"></div>
    </ion-content>
	    
     <div class="bar bar-footer bar-calm" ui-sref="toutiao_detail({'action':'new'})">
       <div class="title">发布头条</div>
    </div>
<script>

</script>

</ion-view>