<ion-view view-title="发布头条" id="view">
      <ion-content class="padding">
        <div class="list" style="margin: 0;">
                    <div class="item" style="padding: 0;">
                      <div class="row" style="padding: 0; margin: 0;">
                        <div class="col col-10" style="width: 100%;height: 35px; margin: 7px 0 0 5px;">标题</div>
                         <div class="col col-80" style="margin-left:10px; ">
                          <input type="text" placeholder="请填写头条标题" style="width: 90%;" ng-model="detail.title"/>
                         </div>
                      </div>
                    </div>
                   
                   <div class="item" style="padding: 0;margin-top:10px;">
                      <div style="width: 100%; height: 35px; line-height: 35px; text-indent: 10px;border-bottom: 1px solid #dddddd;">图片</div>
                      <div style="max-width:95%;margin: 10px; overflow: hidden;" ng-click="choosePicMenu()">
                          <img src="{{detail.pic}}" style="max-height:100%;max-width:100%;"/>
                      </div>
                    <!-- <button class="button button-small button-block"  style="padding:5px; margin: 0; border-radius: 0; color: #666; background: #ddd;"  ng-click="choosePicMenu()">上传图片</button> -->
                 
                   </div>
                   
                  <div class="item" style="padding: 0;margin-top:10px;">
                      <div style="width: 100%; height: 35px; line-height: 35px; text-indent: 10px;border-bottom: 1px solid #dddddd;">内容</div>
                        <textarea cols="30" rows="7" class="coupons_text" style="border:none; margin: 0;overflow-y:scroll;overflow-x:visible; -webkit-overflow-scrolling: touch;line-height:normal;" placeholder="请填写介绍内容" ng-model="detail.info"></textarea>
                 
                   </div>
                 <!-- <div class="item">
                         内容
                  </div> 
                  <textarea cols="30" rows="5" class="coupons_text" style="border:none;" placeholder="请填写介绍内容" ng-model="detail.info"></textarea>
                </div>   -->

                   <div class="item" style="padding:0; border:0; margin-top: 10px;">
                     <button class="button button-block button-calm" style="border-radius: 3px;" ng-click="toutiao_detail('set')">发布</button>
                   </div> 

        </div>
             <div class="input_tips" style="width:94%;margin:20px auto;">
                <p class="password_text">发布头条不方便？选择到电脑端去发布吧！</p>
            
                <p class="password_text" style="font-size:16px;color:#11C1F4"  ui-sref="help({action:'diannaodenglu'})">查看详情</p>
            </div>
    </ion-content>
</ion-view>