<ion-view id="view" view-title="秀二维码">
    <ion-content>
        <ion-list>
            <ion-item class="list-item" style="border:0; text-align:center;">
                <img src="{{qrcode_img_url}}" style="width:80%; margin:0 auto;">
            </ion-item>
        </ion-list>
		<ion-list>
            <ion-item class="list-item" style="border:0;">
				
                <ul>
                    <li class="item item-avatar item-icon-left item-icon-right" ui-sref="qrcode_img({'type':'weixin'})">
                        <img src="images/weixin.png" alt="" style="width:25px;height:25px;margin-top:5px;border-radius: 0;" >
                        <h2 style="margin-top:8px;margin-left:-16px;">微信</h2>
                        <i class="icon ion-ios-arrow-right set_i"></i>
                    </li>
                    <li class="item item-avatar item-icon-left item-icon-right" ui-sref="qrcode_img({'type':'xiaochengxu'})">
                        <img src="images/xiaochengxu.png" alt="" style="width:25px;height:25px;margin-top:5px;border-radius: 0;" >
                        <h2 style="margin-top:8px;margin-left:-16px;">小程序</h2>
                        <i class="icon ion-ios-arrow-right set_i"></i>
                    </li>
                    <li class="item item-avatar item-icon-left item-icon-right" ui-sref="qrcode_img({'type':'zhifubao'})">
                        <img src="images/zhifubao.png" alt="" style="width:25px;height:25px;margin-top:5px;border-radius: 0;" >
                        <h2 style="margin-top:8px;margin-left:-16px;">支付宝</h2>
                        <i class="icon ion-ios-arrow-right set_i"></i>
                    </li>
                    <li class="item item-avatar item-icon-left item-icon-right" ui-sref="qrcode_img({'type':'uc'})">
                        <img src="images/uc.png" alt="" style="width:25px;height:25px;margin-top:5px;border-radius: 0;" >
                        <h2 style="margin-top:8px;margin-left:-16px;">UC浏览器</h2>
                        <i class="icon ion-ios-arrow-right set_i"></i>
                    </li>
                     <li class="item">
                      <p style="white-space: normal;" class="calm">
					  <span class="input_tips">1、请您选择顾客要扫描的二维码类型，引导顾客使用手机号码登录即可获取您的店铺在线电子会员卡。</span><br />
					  <span class="input_tips">2、您也可以将二维码打印张贴出来，以方便会员扫描，随时随地了解您的店铺最新动态和促销信息。</span><br />
					  <span class="input_tips">3、二维码上方的广告语是我们随机推荐的，您可以根据经营的情况自行设定。</span><br />
					  <span class="input_tips">4、会员按照不同等级给予的优惠由您根据业务情况设定，充值优惠也是您与顾客具体沟通的，比如充值100元送10元，相当于110元等。</span><br />
					  </p>
                    </li>
                </ul>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="list-item" style="border:0;">
                <ul>
                   
                   
                </ul>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
