<ion-view id="view" view-title="营销学院 | 延誉宝" >
    <ion-content>
       <div style="margin: 10px;">
		<span ui-sref="yingxiao_index">营销学院</span> 
		<i class="icon ion-ios-arrow-right"></i>
		<i class="icon ion-ios-arrow-right"></i>
		<span>{{yinxiao_two_name}}</span>
	   </div>
      <div class="list" ng-if="isList">
        <li class="item " ui-sref="yingxiao_detail({'imgid':list.id,'type':'shang'})"  ng-repeat="list in items">
				<div class="div_img_list">
				
				  <img ng-src="{{list.pic}}" style="width:100%; margin-top:10px;border-radius: 1px;">
				</div>
			  
              <h2 style="margin-top:10px;">{{list.title}}</h2>
              <p style="white-space: normal; max-height: 40px;">{{list.text}}</p>
        </li>
      </div>
	  
	  <div class="list" ng-if="!isList">
        <li class="item " ui-sref="yingxiao_detail({'imgid':list.id,'type':'wpAPI'})"  ng-repeat="list in latestList">
				<div class="div_img_list">
				
				  
					<img ng-src="{{list.post_thumbnail_image}}" style="    width: 100%; margin-top:10px;border-radius: 1px;">
				</div>
			  <div style="float: right;width: 70%;">
			  
				  <h2 style="margin-top:10px;">{{list.title.rendered}}</h2>
				  <p style="white-space: normal; max-height: 40px;">{{list.excerpt.rendered}}</p>
			  </div>
        </li>
      </div>
	  
		<div style="text-align:center; margin-top:10px;"><span>{{tishi}}</span></div>
        <ion-infinite-scroll ng-if="!noMorePage" immediate-check="false" on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>
 
    </ion-content>
</ion-view>