<ion-view  view-title="{{shouhuo_title}}" style="background: #fff;">
    <ion-content ng-click="hold_yincang()">
     
          <div class="list" style="margin: 0;">
           
        

            <div class="item item-input item-select">
            <div class="input-label">
              大分类：
            </div>
          
            <select ng-model="data.big" ng-change="chenge_big()"> 
               <option value="-1">请选择大分类</option>
               <option ng-repeat="big in fenlei_big" value="{{big.cataid}}">{{big.name}}</option>  
            </select> 
          </div>
         
            <div class="item item-input item-select">
            <div class="input-label">
              小分类：
            </div>
             <select ng-model="data.small" ng-click="click_small()"> 
               <option value="-1">请选择小分类</option>
               <option ng-repeat="small in fenlei_small" value="{{small.cataid}}">{{small.name}}</option>  
            </select> 
             
          </div>

           <label class="item item-input">
                <span class="input-label">商品名称：</span>
                <input type="text" placeholder="请输入商品名称" ng-model="data.name" style="text-align: right;">
            </label>
            <label class="item item-input">
                <span class="input-label">销售价：</span>
                <input type="tel" placeholder="请输入商品销售价" ng-model="data.price" style="text-align: right;">
            </label>
             <label class="item item-input">
                <span class="input-label">库存：</span>
                <input type="tel" placeholder="请输入商品库存" ng-model="data.inventory" style="text-align: right;">
            </label>

              <label class="item item-input">
                <span class="input-label">价格单位：</span>
                <input type="text" placeholder="请输入价格单位" ng-model="data.unit" style="text-align: right;">
            </label>
  
          
         
          
       <div>
            <div class="item item-divider" style="font-weight: normal;color: #444;">
               商品描述：
            </div>
            <textarea cols="30" rows="5" class="coupons_text" style="border:none;overflow: hidden;overflow-y: scroll;border-bottom: 1px solid #e6e6e6;border-radius: 0;" placeholder="请输入商品描素信息" ng-model="data.describe"></textarea>
           
            
        </div>


        <div class="item item-divider" style="font-weight: normal;color: #444;">
               商品图片：
        </div>
        <div style="width: 90%;margin:10px auto;">

             <div style="width: 80px;height: 80px;float: left; margin: 10px 10px 10px 0px;" ng-click="choosePicMenu()">

                    <img src="images/a.png" alt="" style="width: 80px;height: 80px;">
             </div>


               <div  ng-repeat="img in uploadimgs" style="width: 80px;height: 80px; float: left; margin: 10px 10px 10px 0px; position:relative;" on-hold="hold()">
               
                    <i  ng-if="touch" ng-click="del_pic($index)" class="icon  ion-ios-close"  style="position: absolute;top: -5px;right: -5px;font-size:26px;color:#33CD5F; "></i>

                    <img src="{{img}}" alt="" style="width: 80px;height: 80px;">
              </div>

            
             
             
             <div style="clear: both;"></div>
        </div>


      </div>







        <div class="item item-borderless">
            <button class="button button-calm button-full" ng-click="upload_product()">{{btn_style}}</button>
           
        </div>

    </ion-content>
</ion-view>
