<ion-view view-title="积分商城订单" style="background: #f2f2f2;">
    <ion-content>
		<div style="margin:10px;">
			<span class="input_tips" style="height:80px;display: block;text-indent: 2em;font-size: 120%;line-height: 30px;">设置积分商城，处理积分订单，请在电脑端登录管理员控制台操作。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="help({action:'diannaodenglu'})" style="text-decoration: none;">点击查看详情</a></span>
		</div>
       <div ng-repeat="order_item in order_lists" style="border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;padding:10px 0;margin-bottom:5px;background: #fff; " >
            <div class="wait_li_top"  style="font-size: 14px;">
                <i class="icon ion-ios-paper-outline" style="font-size:20px;position: absolute;left:1px;top:3px;"></i>
                <span style="font-size: 14px;position: absolute;left:18px;top:3px;">订单号：{{order_item.orderno}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<span style="float: right;background: #2f8dbf;padding: 2px 10px;border-radius: 5px;color: #fff;">{{order_item.status_name}}</span>
                <i class="icon" style="font-size:14px;color: red;position: absolute;right:0px;top:3px;">{{order_item.order_status}}</i>
            </div>
      
             
          
                <div class="wait_good_box">
                  <li ng-repeat="product in order_item.orderProduct" class="wait_good_list">
                          <div class="wait_good_left">
                              <img src="{{product.productInfo.pictures[0].picture}}" style="width:80px;height:80px;">
                          </div>
                          <div class="wait_good_right">
                               <span style="white-space: normal;display: block; font-size: 14px;">{{product.product_name}}</span>
                            <span style="color: #666;font-size: 12px;">单价：{{product.price}}积分</span>
                            <span style="color: #666;font-size: 12px;margin-left: 30px;">数量：{{product.amount}}</span><br />
                            <span style="color: #666;font-size: 12px;">时间：{{order_item.createtime}}</span> <br />
							 <span style="white-space: normal;font-size:14px;color: #666;display: block; font-size: 14px;">共计{{order_item.total_num}}件商品，消费{{order_item.order_total_price}}积分</span>
                            </div>
                            <div class="clear"></div>
                  </li>
                </div>
                 

               <div class="wait_good_info">
					<span ui-sref="member_detail({'userid':order_item.userid})" style="white-space: normal;font-size:14px;color: #666;display: block; font-size: 14px;">会员 ：{{order_item.user_info.mobile}} &nbsp;&nbsp; {{order_item.user_info.nickname}} </span>
					
					
                    <span style="white-space: normal;font-size:14px;color: #666;display: block; font-size: 14px;">备注：{{order_item.buyer_memo}}</span>
                     
                      
                     
                        
             </div>
          
        </div>

  <div ng-if="xiala">
        <div style="text-align:center; margin-top:5px;color: #999;"><span>{{tishi}}</span></div>
        <ion-infinite-scroll ng-if="!noMorePage" immediate-check="false" on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>
  </div>
    </ion-content>
</ion-view>