<ion-view id="view" view-title="设置">
       <!--<ion-header-bar class="bar bar-royal">
           <ion-nav-back-button class="light"></ion-nav-back-button>
           <h2 class="title"> 设置</h2>
       </ion-header-bar>-->
<ion-content>
    <div class="row" ui-sref="change_photo({head_logo:input.head_logo})">
        <div class="col col-33"></div>
        <div class="col col-33">
            <img src="{{input.head_logo}}" alt="" style="display:block;margin:0 auto;width:100px;height:100px;border-radius: 50%;">

            <p style="width: 100%;text-align: center;color: #444;">[ {{input.renzheng}} ]</p>

        </div>
         <div class="col col-33"></div>
    </div>

   
     <div class="list" style="margin-top: 10px;">
        <li class="item  item-icon-right" ui-sref="change_photo({head_logo:input.head_logo})">
          会员卡头像
         <i class="icon ion-ios-arrow-right set_i"></i>
        </li>
         <li class="item  item-icon-right" ui-sref="set_up5">
            <span class="text-left" style="float:left;">会员卡名称</span>
            <span class="text-right" style="float: right; width: 50%;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;margin-right: -15px;">{{input.cardname}}</span>
             <i class="icon ion-ios-arrow-right set_i"></i>
        </li>
         <li class="item  item-icon-right" ui-sref="add">
         会员等级
         <i class="icon ion-ios-arrow-right set_i"></i>
        </li>
         <li class="item  item-icon-right" ui-sref="cash_integral">
         现金与积分
         <i class="icon ion-ios-arrow-right set_i"></i>
        </li>

        <div class="item item-divider">
          商户信息
        </div>
         <li class="item  item-icon-right" ui-sref="set_up1({name:input.name})">
              <span class="text-left" style="float:left;">商户名称</span>
              <span class="text-right" style="float: right; width: 50%;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;margin-right: -15px;">{{input.name}}</span>
             <i class="icon ion-ios-arrow-right set_i"></i>
         </li>
         <li class="item  item-icon-right" ui-sref="set_up3({telephone:input.telephone})">
              <span class="text-left" style="float:left;">联系电话</span>
              <span class="text-right" style="float: right; width: 50%;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;margin-right: -15px;">{{input.telephone}}</span>
              <i class="icon ion-ios-arrow-right set_i"></i>
        </li>
         <li class="item  item-icon-right" ui-sref="set_address">
         商户地址
         <i class="icon ion-ios-arrow-right set_i"></i>
        </li>
         <li class="item  item-icon-right" ui-sref="set_brief">
         商户简介
         <i class="icon ion-ios-arrow-right set_i"></i>
        </li>
         <li class="item  item-icon-right" ui-sref="shanghu_imgs">
         商户风采图片
         <i class="icon ion-ios-arrow-right set_i"></i>
        </li>

        <div class="item item-divider">
          套餐管理
        </div>
        <li class="item  item-icon-right" ui-sref="duanxin_manage">
          <span class="text-left" style="float:left;">短信包管理</span>
          <span class="text-right" style="float: right; width: 50%;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;margin-right: -15px;">点击查看</span>
          <i class="icon ion-ios-arrow-right set_i"></i>
        </li>
        <li class="item  item-icon-right" ui-sref="weixin_manage">
          <span class="text-left" style="float:left;">微信包管理</span>
          <span class="text-right" style="float: right; width: 50%;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;margin-right: -15px;">点击查看</span>
          <i class="icon ion-ios-arrow-right set_i"></i>
        </li>

        <div class="item item-divider">
          系统设置
        </div>
         <li class="item  item-icon-right" ui-sref="set_user_mobile({mobile:input.mobile})">
        <span class="text-left" style="float:left;">手机号码</span>
          <span class="text-right" style="float: right; width: 50%;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;margin-right: -15px;">{{input.mobile}}</span>
         <i class="icon ion-ios-arrow-right set_i"></i>
        </li>
        <li class="item  item-icon-right" ui-sref="help({action:'shanghurenzheng'})">
          <span class="text-left" style="float:left;">商户认证</span>
          <span class="text-right" style="float: right; width: 50%;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;margin-right: -15px;">{{input.renzheng}}</span>
          <i class="icon ion-ios-arrow-right set_i"></i>
        </li>
        <li class="item  item-icon-right" ui-sref="set_password({mobile:input.mobile})">
         <span class="text-left" style="float:left;">设置密码</span>
         <i class="icon ion-ios-arrow-right set_i"></i>
        </li>
        <li class="item  item-icon-right" ui-sref="set_up4">
         主题颜色
        </li>
        <li class="item  item-icon-right" >
		<span class="text-left" style="float:left;">缓存管理</span>
		<span class="text-right" style="float:right;" ng-click="removeAll()">清空</span>
         
        </li>
		<li class="item  item-icon-right" ui-sref="tour">
         使用帮助
        </li>
        <li class="item  item-icon-right" ui-sref="yijianfankui">
         意见反馈
        </li>
         <li class="item  item-icon-right" ui-sref="set_up7">
         关于APP
          <i class="icon ion-ios-help-outline set_i"></i>
        </li>
      </div>
    <ion-item class="item-borderless full">
        <button class="button button-calm button-full"  ng-click="loginout()">退出</button>

    </ion-item>

</ion-content>



</ion-view>
