<ion-view view-title="使用帮助">
    <ion-content>
        <div class="card" ng-repeat="list in input.gonggao_list">
            <div class="item  item-avatar"  ui-sref="help({gonggaoid:list.gonggaoid})">
                <!--<img src="images/pho.png">-->
                <div class="row" style="margin-top:-10px;margin-left:-70px;">
                    <h2 class="col text-left">{{list.title}}</h2>
                    <p class="col text-right">{{list.time}}</p>
                </div>
                <p class="row" style="padding:0 10px; overflow: hidden;margin-left:-70px;"> {{list.introduce  }}</p>
            </div>
        </div>

    </ion-content>
</ion-view>