<ion-view view-title="会员卡设置">
    <ion-content>
       <ion-item class="item-borderless">
           <lable class="item item-input" style="margin-top:15px;">
               <input type="text" placeholder="请输入会员卡名称"  ng-model="input.card_name">
               
           </lable>
           <input type="hidden" ng-model="input.img_slide"/>
       </ion-item>
        <ion-item class="item-borderless" id="dian">
        <ion-slide-box on-slide-changed="onSlideChanged(index)" delegate-handle="slideboximgs" style="width:300px;margin:0 auto; border-radius:15px;">
            <!-- <ion-slide class="text-center" ng-repeat="list in bg_imgs">
                <img ng-src="{{list}}" style="height:200px;">
            </ion-slide> -->
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg01.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg02.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg03.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg04.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg05.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg06.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg07.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg08.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg09.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg11.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg12.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg13.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg15.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg16.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg17.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg19.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg20.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg21.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg22.png" style="height:200px;">
            </ion-slide>
            
            <ion-slide class="text-center">
                <img src="https://yanyubao.tseo.cn/Tpl/static/card/card_bg23.png" style="height:200px;">
            </ion-slide> 
            
        </ion-slide-box>

            <button class="button button-icon icon ion-chevron-left" style="position: absolute;top:35%;left:0;color: #ddd"   ng-click="previous()"></button>
            <button class="button button-icon icon ion-chevron-right" style="position: absolute;top:35%;right:0;color: #ddd"   ng-click="nextSlide()"></button>
    </ion-item>
        <ion-item class="item-borderless full">
            <button class="button button-block button-calm" ng-click="send_supplier_card()">保存</button>
        </ion-item>
    </ion-content>
</ion-view>