
<ion-view id="view" view-title="关于APP">
    <ion-content>
        <div class="row" style="padding: 25px 5px;color: #999;">
        <div class="col">
            <div class="text-center">
                <img src="images/yanyubao_128.png" alt="" class="tabs-icon-top" style="width:80px;height:80px;">
                <p style="font-size: 20px; line-height:40px; color:#438bc9;">延誉宝APP</p>
                <p style="font-size: 13px;">版本号：{{version_str01}}.{{version_code}}.{{version_str02}}</p>
            </div>
        </div>
    </div>
        <ion-item class="item item-borderless top2">
            <ul >
                <li class="row app_row" ng-click="callPhone()">
                    <h3 class="col text-left guanyuapp_text">业务电话</h3>
                    <h3 class="col text-right" style="color: #999;font-family: Arial;">021-31128716</h3>
				</li>
                <li class="row app_row" ng-click="server_qq()">
                    <h3 class="col text-left guanyuapp_text">业务QQ</h3>
                    <h3 class="col text-right" style="color: #999;font-family: Arial;">537086268</h3>
                </li>
                <li class="row app_row" ng-click="guanwang()">
                    <h3 class="col text-left guanyuapp_text">延誉宝官网</h3>
                    <h3 class="col text-right" style="color: #999;font-family: Arial;">www.abot.cn</h3>
                </li>
                <li class="row app_row" ng-click="guanwang()">
                    <h3 class="col text-left guanyuapp_text">微信公众号</h3>
                    <h3 class="col text-right" style="color: #999;font-family: Arial;">xiaoabot</h3>
                </li>
				<li class="row app_row" ui-sref="tour" >
                    <h3 class="col text-left guanyuapp_text">使用帮助</h3>
                    <i class="icon ion-ios-arrow-right set_i"></i>
                </li>
                <li class="row app_row" style=""  ui-sref="help({action:'fuwuxieyi'})" >
                    <h3 class="col text-left guanyuapp_text">服务协议</h3>
                    <i class="icon ion-ios-arrow-right text-right set_i"></i>
                </li>
				<li class="row app_row" style="border-bottom: 0;"  ui-sref="help({action:'yinsi'})" >
                    <h3 class="col text-left guanyuapp_text">隐私声明</h3>
                    <i class="icon ion-ios-arrow-right text-right set_i"></i>
                </li>
            </ul>
        </ion-item>
    </ion-content>
</ion-view>