<ion-view id="view" view-title="主题颜色">
    <ion-content>
        <ion-item class="item" style="padding:0 5px; border: 0; margin-top: 20px;">
            <ul class="row" >
	                <li class="col col-25">
	                    <div class=" " >
	                        <div class="text-center set_bg1"  ng-click="lanTheme()" style="width:90%; height:40px; margin: 0 auto;"></div>
	                    </div>
                        <h2 style="text-align: center; padding: 5px 0;">蓝色</h2>
	                </li>
                    <li class="col col-25">
                            <div class="text-center set_bg2" ng-click="chengTheme()" style="width:90%; height:40px; margin: 0 auto;"></div>
                       <h2 style="text-align: center; padding: 5px 0;">橙色</h2>
                    </li>
                    <li class="col col-25">
                        <div class="text-center set_bg3" ng-click="lvTheme()" style="width:90%; height:40px; margin: 0 auto;"></div>
                        <h2 style="text-align: center; padding: 5px 0;">绿色</h2>
                    </li>
                    <li class="col col-2">
                        <div class="text-center set_bg4" ng-click="ziTheme()" style="width:90%; height:40px; margin: 0 auto;"></div>
                        <h2 style="text-align: center; padding: 5px 0;">紫色</h2>
                    </li>
                    <!-- <li class="col">
                        <div class="set_bg4 " style="width:80px;height:35px;" ng-click="ziTheme()">
                            <div class="text-center" style="padding-top:40px;">
                                <h2>紫色</h2>
                            </div>
                        </div>
                    </li> -->
            </ul>
            <!-- <ul class="row text-center" style="margin-top:35px;">
                <li class="col">
                    <div class="set_bg5  col-offset-10" style="width:80px;height:35px;">
                        <div class="text-center" style="padding-top:40px;">
                            <h2>紫色</h2>
                        </div>
                    </div>
                </li>
                <li class="col">
                    <div class="set_bg6  col-offset-10" style="width:80px;height:35px;">
                        <div class="text-center" style="padding-top:40px;">
                            <h2>黄色</h2>
                        </div>
                    </div>
                </li>
                <li class="col">
                    <div class="set_bg7  col-offset-10" style="width:80px;height:35px;">
                        <div class="text-center" style="padding-top:40px;">
                            <h2>橙色</h2>
                        </div>
                    </div>
                </li>
                <li class="col">
                    <div class="set_bg8  col-offset-10" style="width:80px;height:35px;">
                        <div class="text-center" style="padding-top:40px;">
                            <h2>蓝色</h2>
                        </div>
                    </div>
                </li>
            </ul> -->
           <!-- <div class="row">设置主题颜色</div>-->

        </ion-item>

    </ion-content>
</ion-view>