<ion-view id="view" view-title="微信包管理" style="background: #f2f2f2;">
    <ion-content>
        <div style="width: 100%;" class="calm-bg">
            <div style="padding:30px 10px;">
              <p style="color:#fff; opacity: 0.8; font-size: 16px;">微信包余额</p>
              <h1 style="color:#fff; font-size: 70px; letter-spacing: 3px;">不限量<!-- {{input.weixin_balance}} --></h1>
            </div>
        </div>
        <div class="list">
          <li class="item item-icon-left">
          <i class="icon item-note  ion-ios-compose-outline"></i>
           <span style="float: left;">今日发送量</span>
            <span style="float: right; opacity: 0.7;">{{input.send_today}}</span>
          </li>
          <li class="item item-icon-left">
          <i class="icon  item-note  ion-ios-compose-outline"></i>
           <span style="float: left;">昨日发送量</span>
            <span style="float: right; opacity: 0.7;">{{input.send_yesterday}}</span>
          </li>
        </div>
         <div class="list">
              <li class="item item-icon-left">
              <i class="icon item-note ion-ios-list-outline"></i>
                <span style="float: left;">明细列表</span>
                <span><i class="icon ion-ios-arrow-right set_i"  style="margin-left: 88%;"></i></span>
              </li>
             <!--  <li class="item item-icon-left" style="border-top: 0;">
              <i class="icon item-note  ion-ios-filing-outline"></i>
                <span style="float: left;">短信模版</span>
                <span><i class="icon ion-ios-arrow-right set_i"  style="margin-left: 88%;"></i></span>
              </li> -->
               <li class="item item-icon-left"  ui-sref="help({action:'weixin_package'})">
              <i class="icon item-note ion-ios-medkit-outline"></i>
                <span style="float: left;">独立微信公众号绑定</span>
                <span><i class="icon ion-ios-arrow-right set_i"  style="margin-left: 88%;"></i></span>
              </li>
        </div>
    </ion-content>
</ion-view>