<ion-view view-title="意见反馈" id="view">
    <ion-content>
        <div class="card">
            <div class="item item-divider" style="margin-left:-8px;">
                意见反馈
            </div>
            <textarea cols="30" rows="5" class="coupons_text" style="border:none;overflow: hidden;overflow-y: scroll;" placeholder="请输入反馈和意见，我们将不断为您改进..." ng-model="input.yijian">{{input.yijian}}</textarea>
            <div class="tab-item yijian_content" ng-click="choosePicMenu()">
                <img src="images/a.png" alt=""><p style="color: #999;" class="text-center">有图片解决更快呦~</p>
            </div>
            <div class="yijian_content" ng-show="input.isshow">
                <img ng-src="{{input.pic01}}" class="yijian_img" alt="" >
            </div>
            
        </div>
        <ion-item class="item-borderless full">
            <button class="button button-calm button-block" ng-click="submit_yijian()">确定</button>
<!--
            <button class="button button-royal button-full">确定</button>
-->

        </ion-item>
    </ion-content>
</ion-view>