	.global_background{
		background-color:#eceeef;
		
	}

	.package_label{	
		display: flex;
		white-space: nowrap;
		overflow: hidden;
	
	}
	.package_lable_list{
		
		background-color: #f3f5f6;
		color: #15c5ce;
		margin: 5rpx 10rpx;
		padding: 5rpx 10rpx;
		border-radius: 5rpx;
		overflow: hidden;
		font-size: 10rpx;
		text-align: center;
		border:2rpx solid #15c5ce;
	}

	.begin_end_time{
		margin-bottom: 5rpx;
		font-weight: 300; 
		font-size: 10rpx; 
	
	}