	.global_background{
		background-color:#eceeef;
		
	}

 	.package_label{	
		
		display: flex;
		position: relative;
		
		margin-top:0rpx;
		white-space: nowrap;
		overflow: hidden;
	
	}
 	.package_lable_list{
		
		background-color: #ffa71b;
		color: #FFFFFF;
		margin: 5rpx 10rpx;
		padding: 5rpx 10rpx;
		border-radius: 10rpx;
		overflow: hidden;
		font-size: 30rpx;
		text-align: center;
		
	} 
	.package_brief{
		width: 90%;
		
		font-weight: 100; 
		font-size: 25rpx;
		margin-bottom: 5rpx;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.begin_end_time{
		margin-bottom: 5rpx;
		font-weight: 300; 
		font-size: 20rpx; 
		width: 80%;
	
	}
	
	/* 富媒体文本 */
	.description001 .title {
		width: 100%;
		height: 80upx;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 26upx;
		color: #999;
		position: relative;
	}	
	.description001 .content {
		padding-bottom: 50rpx;
	}
	
	