@font-face {
	font-family: 'HM-font';
	src: url('https://yanyubao.tseo.cn/Tpl/static/iconfont/shopappv2/iconfont.eot'); /* IE9*/
	src: url('https://yanyubao.tseo.cn/Tpl/static/iconfont/shopappv2/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('https://yanyubao.tseo.cn/Tpl/static/iconfont/shopappv2/iconfont.woff2') format('woff2'), /* chrome、firefox、opera、Safari, Android, iOS */
	url('https://yanyubao.tseo.cn/Tpl/static/iconfont/shopappv2/iconfont.woff') format('woff'), /* chrome、firefox */
	url('https://yanyubao.tseo.cn/Tpl/static/iconfont/shopappv2/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('https://yanyubao.tseo.cn/Tpl/static/iconfont/shopappv2/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}

/*  将woff文件放在本地是为了让android手机中可以正常使用 */

.icon-weixin:before {
  content: "\e614";
  font-size: 120upx;
}


.icon {
	font-family: 'HM-font' !important;
	font-size: 60upx;
	font-style: normal;
	color: #000000;
	&.yuyin-home:before {
		content: '\e64e';
	}
	&.tongzhi:before {
		content: '\e729';
	}
	&.search:before {
		content: '\e628';
	}
	&.location:before {
		content: '\e611';
	}
	&.xia:before {
		content: '\e689';
	}
	&.bofang:before {
		content: '\e696';
	}

	&.guanbi:before {
		content: '\e61a';
	}
	&.fenxiang:before {
		content: '\e642';
	}

	&.xiangqian:before {
		content: '\e634';
	}

	&.xiangyou:before {
		content: '\e637';
	}

	&.shoucangsel:before {
		content: '\e62c';
	}

	&.shoucang:before {
		content: '\e62e';
	}

	&.kefu:before {
		content: '\e61e';
	}

	&.cart:before {
		content: '\e619';
	}
	&.jia:before {
		content: '\e641';
	}

	&.jian:before {
		content: '\e643';
	}
	&.sheng:before {
		content: '\e737';
	}

	&.jiang:before {
		content: '\e736';
	}
	&.weixin:before {
		content: '\e61c';
	}

	&.qq:before {
		content: '\e752';
	}

	&.sinaweibo:before {
		content: '\e63d';
	}

	&.xiaomi:before {
		content: '\e661';
	}
	&.biaoqing:before {
		content: '\e797';
	}
	&.jianpan:before {
		content: '\e7b2';
	}
	&.yuyin:before {
		content: '\e805';
	}
	&.tupian:before {
		content: '\e639';
	}
	&.chehui:before {
		content: '\e904';
	}
	&.luyin:before {
		content: '\e905';
	}
	&.luyin2:before {
		content: '\e677';
	}
	&.other-voice:before {
		content: '\e667';
	}
	&.my-voice:before {
		content: '\e906';
	}
	&.shanchu:before {
		content: '\e6a4';
	}

	&.setting:before {
		content: '\e64f';
	}

	&.qr:before {
		content: '\e600';
	}

	&.chongzhi:before {
		content: '\e648';
	}

	&.fukuan:before {
		content: '\e67f';
	}

	&.fahuo:before {
		content: '\e680';
	}

	&.shouhuo:before {
		content: '\e6b1';
	}

	&.pingjia:before {
		content: '\e66b';
	}

	&.tuihuo:before {
		content: '\e66c';
	}

	&.bianji:before {
		content: '\e61b';
	}

	&.tianjia:before {
		content: '\e81a';
	}

	&.shixiao:before {
		content: '\e669';
	}
	
	&.zhuye:before {
		/* content: '\e663'; */
		content: '\e907';
	}
	
	&.scan_qr:before {
		content: '\e908';
	}
	
}


