<ion-view id="view" view-title="{{title_name}}">
    <ion-content>
        <!--<h4 style="margin-left:13px;margin-top:10px;color:#333;">设置手机号</h4>-->
       <!--  <lable class="list item " style="margin-top:15px;">
            <input type="tel" placeholder="请输入手机号码">
        </lable>
        <ion-item class="item-borderless full">
            <button class="button button-full button-calm" id="btn">保存</button>
            <button class="button button-full button-royal" id="btn" ng-click="set_telephone(input.telephone)">保存</button>
-->

        <!-- </ion-item> --> 

        
      <div class="list list-inset">
        <label class="item item-input ">
          <i class="icon ion-iphone placeholder-icon"></i>
          <input type="text" placeholder="请输入手机号" ng-model="input.mobile">
        </label>

		
		  <textarea class="show_msg_div">{{input.message}}</textarea>
      
		
		
         <button class="button button-block button-calm" style="margin-top:20px;" ng-click="send_sms()">发送邀请短信</button>
      </div>

    </ion-content>
</ion-view>