<ion-view id="view" view-title="会员信息" style="background: #f2f2f2;">
<ion-content>
   <div class="member_logo calm-bg">
     <div class="header_logo">
       <img src="{{user_info.headimgurl}}">
     </div>
     <div class="ningcheng_member">{{user_info.account}}</div>
	
   </div>

    <div style="border-bottom: 1px solid #bfb6b6;width: 100%; height: 125px; " >
		<div style="float: left;width: 33%;text-align: center;border-right: 1px solid #bfb6b6; padding-top:25px;" ui-sref="money_mingxi({'userid':user_info.userid,'money_type':'balance'})">
			<p><img src="images/user_icon_balance.png" width="50px" height="50px"></p>
			<p>现金明细</p>
		</div>
		<div style="float: left;width: 33%;text-align: center;border-right: 1px solid #bfb6b6; padding-top:25px;" ui-sref="money_mingxi({'userid':user_info.userid,'money_type':'balance_zengsong'})">
			<p><img src="images/user_icon_balance_zengsong.png" width="50px" height="50px"></p>
			<p>赠款明细</p>
		</div>
		<div style="float: left;width: 33%;text-align: center; padding-top:25px;" ui-sref="money_mingxi({'userid':user_info.userid,'money_type':'score'})">
			<p><img src="images/user_icon_score.png" width="50px" height="50px"></p>
			<p>积分明细</p>
		</div>
		
	 </div>
	 
<div style="background: #fff;padding-top:15px;">

<div class="huiyuanmsg"><div class="z">手机号码</div><div class="y">{{user_info.mobile}}</div></div>
<div class="huiyuanmsg"><div class="z">加入时间</div><div class="y">{{user_info.fenxiao_info.createtime|date:'yyyy-MM-dd'}}</div></div>
<div class="huiyuanmsg"><div class="z">现金余额</div><div class="y">{{user_info.fenxiao_info.balance_yuan}}</div></div>
<div class="huiyuanmsg"><div class="z">赠款余额</div><div class="y">{{user_info.fenxiao_info.balance_zengsong_yuan}}</div></div>
<div class="huiyuanmsg"><div class="z">积分余额</div><div class="y">{{user_info.fenxiao_info.score}}</div></div>
<div class="huiyuanmsg"><div class="z">会员卡号</div><div class="y">{{user_info.fenxiao_info.member_no}}</div></div>
<div class="huiyuanmsg"><div class="z">会员等级</div><div class="y">{{user_info.fenxiao_info.member_level}}</div></div>
<div class="huiyuanmsg"><div class="z">身份证</div><div class="y">{{user_info.fenxiao_info.idcardno}}</div></div>
<div class="huiyuanmsg"><div class="z">生日</div><div class="y">{{user_info.fenxiao_info.birthday}}</div></div>
<div class="huiyuanmsg"><div class="z">所在地区</div><div class="y">{{user_info.fenxiao_info.shengshiqu}}</div></div>
<div class="huiyuanmsg"><div class="z">联系地址</div><div class="y">{{user_info.fenxiao_info.address}}</div></div>

<div class="huiyuanmsg"><div class="z"><b>银行信息</b></div><div class="y"></div></div>
<div class="huiyuanmsg"><div class="z">开户行</div><div class="y">{{user_info.fenxiao_info.bank_company}}</div></div>
<div class="huiyuanmsg"><div class="z">开户人</div><div class="y">{{user_info.fenxiao_info.bank_name}}</div></div>
<div class="huiyuanmsg"><div class="z">账号</div><div class="y">{{user_info.fenxiao_info.bank_account}}</div></div>
<div class="huiyuanmsg"><div class="z">开户支行</div><div class="y">{{user_info.fenxiao_info.bank_branch}}</div></div>

<div class="huiyuanmsg"><div class="z"><b>支付宝信息</b></div><div class="y"></div></div>
<div class="huiyuanmsg"><div class="z">账号</div><div class="y">{{user_info.fenxiao_info.alipay_account}}</div></div>
<div class="huiyuanmsg"><div class="z">账户名</div><div class="y">{{user_info.fenxiao_info.alipay_name}}</div></div>

<div class="huiyuanmsg">
	<div class="z"><b>扩展信息</b></div><div class="y"></div>
</div>
<div class="huiyuanmsg" ng-repeat="(key,value) in extend_info_display">
	<div class="z">{{key}}</div>
	<div class="y">{{value}}</div>
</div>
</div>

     <!-- <div class="col col-33">
        <p class="member_detial_text">手机号码</p>
        <p class="member_detial_text">加入时间</p>
        <p class="member_detial_text">现金余额</p>
        <p class="member_detial_text">积分余额</p>
		<p class="member_detial_text">会员卡号</p>
		<p class="member_detial_text">会员等级</p>
		<p class="member_detial_text">身份证</p>
		<p class="member_detial_text">生日</p>
		<p class="member_detial_text">所在地区</p>
		<p class="member_detial_text">联系地址</p>
		
		<p class="member_detial_text"><b>银行信息</b></p>
		<p class="member_detial_text">开户行</p>
		<p class="member_detial_text">开户人</p>
		<p class="member_detial_text">账号</p>
		<p class="member_detial_text">开户支行</p>
		
		
		<p class="member_detial_text" style="font-size:12px;"><b>支付宝信息</b></p>
		<p class="member_detial_text">账号</p>
		<p class="member_detial_text">账户名</p>
		
		<p class="member_detial_text"><b>拓展信息</b></p>
		
     </div>
	 
     <div class="col">
       <p class="member_detial_text1">{{detail.mobile}}</p>
       <p class="member_detial_text1">{{detail.join_time}}</p>
       <p class="member_detial_text1" style="color:#11C1F3;"  ui-sref="money_mingxi({'userid':detail.userid})">{{detail.balance}}</p>
       <p class="member_detial_text1" style="color:#11C1F3;text-indent: 23px;"  ui-sref="score_mingxi({'userid':detail.userid})">{{detail.balance2}}</p>
	   <p class="member_detial_text1">{{detail.idcardno}}</p>
	   <p class="member_detial_text1">{{detail.user_level}}</p>

	   <p class="member_detial_text1">{{detail.score}}123</p>
	   <p class="member_detial_text1">{{detail.birthday}}</p>
	   <p class="member_detial_text1">{{detail.shengshiqu}}32</p>
	<p class="member_detial_text1">1</p>
	<p class="member_detial_text1">3</p>
	<p class="member_detial_text1">4</p>
<p class="member_detial_text1">5</p>
<p class="member_detial_text1">6</p>
<p class="member_detial_text1">{{detail.back_account}}</p>
<p class="member_detial_text1">{{detail.back_name}}</p>
<p class="member_detial_text1">{{detail.back_branch}}</p>
<p class="member_detial_text1">{{detail.back_company}}</p>
<p class="member_detial_text1"></p>
<p class="member_detial_text1">{{detail.alipay_account}}</p>
<p class="member_detial_text1">{{detail.alipay_name}}</p>
<p class="member_detial_text1">8</p>
<p class="member_detial_text1">9</p>
<p class="member_detial_text1">10</p>
     </div> -->
   </div>

   <div class="qclistyle" style="background: #fff;margin-top:8px;">
     <li class="wanneng_biaodan" ng-repeat="list in wanneng_biaodan">
     	<p ng-if="list.text" class="wanneng_biaodan_p"><span  style="color: #222;">{{list.displayname}}</span><br>{{list.value}}</p>
     			<!-- <input id="{{list.fieldname}}" name="{{list.fieldname}}"  type="text"  maxlength="50" value="{{list.value}}"/> -->
     	<p ng-if="list.textarea" class="wanneng_biaodan_p"><span style="color: #222;">{{list.displayname}}</span><br><span>{{list.value}}</span></p>
     			<!-- <textarea  style=" height:99px;overflow-y:visible; border-bottom: 1px solid #ccc;" id="{{list.fieldname}}" name="{{list.fieldname}}"  ng-model="list.value"></textarea> -->
     </li>
   </div>
</ion-content>
</ion-view>
