<ion-view id="view" view-title="收款二维码">
    <ion-content>
        <ion-list>
            <ion-item class="list-item" style="border:0;">
                <ul>
                	<li class="item item-avatar item-icon-left item-icon-right" ui-sref="qrcode_info_shoukuan({'type':'zhifubao'})">
                        <img src="images/zhifubao.png" alt="" style="width:25px;height:25px;margin-top:5px;border-radius: 0;" >
                        <h2 style="margin-top:8px;margin-left:-16px;">支付宝收款</h2>
                        <i class="icon ion-ios-arrow-right set_i"></i>
                    </li>
                
                    <li class="item item-avatar item-icon-left item-icon-right" ui-sref="qrcode_info_shoukuan({'type':'weixin'})">
                        <img src="images/weixin.png" alt="" style="width:25px;height:25px;margin-top:5px;border-radius: 0;" >
                        <h2 style="margin-top:8px;margin-left:-16px;">微信钱包收款</h2>
                        <i class="icon ion-ios-arrow-right set_i"></i>
                    </li>
                    
                  	<li class="item"  ui-sref="help({action:'shoukuanerweima'})">
	                      <p style="white-space: normal;">
                           使用您的支付宝或微信钱包收款，没有任何手续费。
                           如何找到收款二维码？<span class="calm">点击这里了解详情</span>。
						  </p>
                    </li>
                </ul>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="list-item" style="border:0;">
                <ul>
                   
                   
                </ul>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
