<ion-view id="view" view-title="会员卡二维码">
       <!--<ion-header-bar class="bar bar-royal">
           <ion-nav-back-button class="light"></ion-nav-back-button>
           <h2 class="title"> 设置</h2>
       </ion-header-bar>-->
<ion-content>
    <div class="row">
           <span class="padding" style="text-align: center;font-size: 20px;line-height: 30px;width: 100%;padding-top: 30px;">{{input.qrcode_img_ad}}</span>
    </div>
    <div class="row">
            <img src="" id="imageFile" alt="" class="tabs-icon-top" style="width:100%;height:100%;">
    </div>
     <div class="row">
       
    </div>
    
     <div class="row" style="border:1px solid #e5e5e5;">
		<div ng-click="sharePhoto_to_qq('qq')" class="col col-20" style="margin-top: 5px;">
     <img src="images/qqhyfx.png" style="width: 40px; height: 40px; display: block; margin: 0 auto;">
    </div>

		<div ng-click="sharePhoto_to_qq('qq_zone')" class="col col-20" style="margin-top: 5px;">
     <img src="images/qqkjfx.png" style="width: 40px; height: 40px; display: block; margin: 0 auto;">
    </div>

		<div ng-click="sharePhoto_to_wechat('friend')" class="col col-20" style="margin-top: 5px;"> 
     <img src="images/wxhyfx.png" style="width: 40px; height: 40px; display: block; margin: 0 auto;">
    </div>
		<div ng-click="sharePhoto_to_wechat('timeline')" class="col col-20" style="margin-top: 5px;">
     <img src="images/wxpyqfx.png" style="width: 40px; height: 40px; display: block; margin: 0 auto;">
    </div>
    <div ng-click="sharePhoto_to_weibo()" class="col col-20" style="margin-top: 5px;"> 
     <img src="images/wbfx.png" style="width: 40px; height: 40px; display: block; margin: 0 auto;">
    </div>
    </div> 

	<div class="row" style="display:block; margin-top: 20px;">
       <a class="calm-bg" ng-href="{{input.qrcode_img_url}}" style="width: 45%;height: 30px; color:#fff; line-height: 30px; text-align: center;border-bottom: 1px solid #fff;margin-bottom: 2px; border-radius: 5px; display:block; float:left;">浏览器打开</a>
	   <a  class="calm-bg" ng-href="{{input.print_buy_url}}" style="width: 45%;height: 30px;color:#fff; line-height: 30px; text-align: center;border-bottom: 1px solid #fff;margin-bottom: 2px; border-radius: 5px; display:block; float:right;">个性化定制</a>
    </div>

	<div class="row" style="display:block; margin-top: 50px;clear: both;white-space: normal;color: #666;font-size: 14px;">
        <span class="input_tips" style="text-align: center;font-size: 15px;line-height: 20px;">{{input.qrcode_img_share_text}}</span>
    </div>

</ion-content>
</ion-view>
