<ion-view view-title='{{type_name}}' style="background: #f2f2f2;">
    <ion-content>
    	<ion-refresher pulling-text="下拉刷新" on-refresh="get_user_moneyinfo()"></ion-refresher>
        <div style="width: 100%;" class="calm-bg">
            <div style="padding:10px 10px;">
             <div class="huiyuan_logo">
             <img src="{{userinfo.headimgurl}}">
             </div>
              <p style="color:#fff; opacity: 0.8; font-size: 16px;margin: 5px 0 0 10px;">{{userinfo.account}}</p>
              <h3 style="color:#fff; font-size: 40px; letter-spacing: 3px; margin: 5px 0;">{{userinfo.chongzhi_str}}{{userinfo.balance}}</h3>
            </div>
        </div>
        <div class="list">
          <li class="item item-icon-left">
          <i class="icon item-note  ion-ios-compose-outline"></i>
           <span style="float: left;">7日消费合计</span>
            <span style="float: right; opacity: 0.7;">{{xiaofei.week_xiaofei_total}}</span>
          </li>
          <li class="item item-icon-left">
          <i class="icon  item-note  ion-ios-compose-outline"></i>
           <span style="float: left;">30日消费合计</span>
            <span style="float: right; opacity: 0.7;">{{xiaofei.month_xiaofei_total}}</span>
          </li>
        </div>
         <div class="list">
         	  <p style="text-align:center;">{{tishi}}</p>
              <li class="item" ng-repeat="list in xiaofei.log_list">
                <span style="float: left;">{{list.balance}}</span>
                <span style="float: right; font-size: 12px;">{{list.createtime}}</span>
                <div class="clear"></div>
                <p>{{list.balance_msg}}</p>
              </li>
              
             
        </div>
    </ion-content>
</ion-view>