
<ion-view  view-title="我的库存">
    <ion-content>
<div class="kucun">
 <div class="zhuanfa_info" ng-repeat="list in product_lists" style="border-bottom: 1px solid #e6e6e6;padding-top:5px;">
               <div class="zhuanfa_img">
                  <img src="{{list.picture}}" style="width:85px;height:85px;">
               </div>
               <div class="zhuanfa_text">
                 <p style="color: #222;font-size: 14px;margin: 0;">
               			{{list.product_name}}
                 </p>

                 <p style="margin-top:10px; color: #666;"><span>库存：{{list.kucun}}件</span><span style="margin-left: 30px; ">销量：{{list.xiaoliang}}件</span></p>
               </div>
               <div class="clear"></div>
             
  </div>

</div>

<div ng-if="xiala">
  <div style="text-align:center; margin-top:5px;color: #999;"><span>{{tishi}}</span></div>
  <ion-infinite-scroll ng-if="!noMorePage" immediate-check="false" on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>
</div>
    </ion-content>
</ion-view>
