<ion-view view-title="评价列表" id="view">
    <ion-content>
        <div class="card">
            <div class="item  item-avatar">
                <img src="images/pho.png">
                <div class="row" style="margin-top:-10px;">
                    <h2 class="col text-left">用户昵称</h2>
                    <p class="col text-right">2017-03-05<span>12:12:12</span></p>

                </div>
                <p class="row" style="padding:0 10px; overflow: hidden;"> 评价内容评价内容评价内容评价内容评价内容评价内容评价内容</p>
                <div class="col text-right">
                    <i class="icon ion-compose" ui-sref="evaluate"></i>
                    <i class="icon ion-eye-disabled"></i>
                    <i class="icon ion-arrow-up-a"></i>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="item  item-avatar">
                <img src="images/pho.png">
                <div class="row" style="margin-top:-10px;">
                    <h2 class="col text-left">用户昵称</h2>
                    <p class="col text-right">2017-03-05<span>12:12:12</span></p>

                </div>
                <p class="row" style="padding:0 10px; overflow: hidden;"> 评价内容评价内容评价内容评价内容评价内容评价内容评价内容</p>
                <div class="col text-right">
                    <i class="icon ion-compose" ui-sref="evaluate"></i>
                    <i class="icon ion-eye-disabled"></i>
                    <i class="icon ion-arrow-up-a"></i>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item  item-avatar">
                <img src="images/pho.png">
                <div class="row" style="margin-top:-10px;">
                    <h2 class="col text-left">用户昵称</h2>
                    <p class="col text-right">2017-03-05<span>12:12:12</span></p>

                </div>
                <p class="row" style="padding:0 10px; overflow: hidden;"> 评价内容评价内容评价内容评价内容评价内容评价内容评价内容</p>
                <div class="col text-right">
                    <i class="icon ion-compose" ui-sref="evaluate"></i>
                    <i class="icon ion-eye-disabled"></i>
                    <i class="icon ion-arrow-up-a"></i>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item  item-avatar">
                <img src="images/pho.png">
                <div class="row" style="margin-top:-10px;">
                    <h2 class="col text-left">用户昵称</h2>
                    <p class="col text-right">2017-03-05<span>12:12:12</span></p>

                </div>
                <p class="row" style="padding:0 10px; overflow: hidden;"> 评价内容评价内容评价内容评价内容评价内容评价内容评价内容</p>
                <div class="col text-right">
                    <i class="icon ion-compose" ui-sref="evaluate"></i>
                    <i class="icon ion-eye-disabled"></i>
                    <i class="icon ion-arrow-up-a"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>