<ion-view view-title="店铺管理" id="view">
    <ion-content class="content">
                <div class="list" style="margin-left:20px;">
                    <div class="row">
                        <h4 style="color: #666;">管理入口：</h4>
                        <h4 style="font-size: 16px;margin-left:30px;color: #666;" class="text-center">www.abot.cn</h4>
                    </div>
                    <div class="row">
                        <h4 style="color: #666;">登录帐号：</h4>
                        <h4 style="font-size: 16px;margin-left:30px;color: #666;" class="text-center">{{mobile}}</h4>
                    </div>
                    <div class="row">
                        <h4 style="color: #666;">登录密码：</h4>
                        <input type="password" placeholder="请设置密码" style="font-size: 14px;padding:0 10px;border: 1px solid #ccc;
                        border-radius: 5px;width:50%;margin:5px 25px;resize:none;outline:0;-webkit-appearance:none;white-space:pre-wrap;word-wrap:break-word;background:#fff;" ng-model="input.password">
                    </div>
                </div>
        <ion-item class="item-borderless full">
            <button class="button button-calm button-block" id="btn" ng-click="change_password()">修改</button>
<!--
            <button class="button button-royal button-full" id="btn" ng-click="coupon_xiao()">销券</button>
-->

        </ion-item>
            <div style="width:94%;margin:20px auto;">
                <p class="text-center password_text">用登录密码在电脑端访问</p>
                <p class="text-center password_text">www.abot.cn</p>
                <p class="text-center password_text">设置商城、发布商品，享受更多功能。</p>
                <p class="text-center password_text" style="font-size:20px;color:#11C1F4"  ui-sref="help({action:'diannaodenglu'})">查看详情</p>
            </div>
    </ion-content>

</ion-view>